<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    
    <pages enableSessionState ="true"></pages>

    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" defaultUrl="Account/Account.aspx">
      </forms>
    </authentication>

    <membership defaultProvider="SqlMembership">
      <providers>
        <add
        name="SqlMembership"
        type="System.Web.Security.SqlMembershipProvider"
        connectionStringName="Boss"
        applicationName="CST465"
        enablePasswordRetrieval="false"
        enablePasswordReset="true"
        requiresQuestionAndAnswer="true"
        requiresUniqueEmail="true"
        passwordFormat="Hashed" />
      </providers>
    </membership>

    <siteMap defaultProvider="SecuredSiteMap">
      <providers>
        <add name="SecuredSiteMap"
             type="System.Web.XmlSiteMapProvider"
             siteMapFile="~/Web.sitemap"
             securityTrimmingEnabled="true" />
      </providers>
    </siteMap>

    <roleManager defaultProvider="SqlRoles" enabled="true">
      <providers>
        <add name="SqlRoles"
             type="System.Web.Security.SqlRoleProvider"
             applicationName="CST465"
             connectionStringName="Boss" />
      </providers>
    </roleManager>
  
  </system.web>

  <connectionStrings>
    <add name="Boss"
         connectionString="server=aura.students.cset.oit.edu;database=RobertoRicalday;user id=robertoricalday;password=robertoricalday;"/>
  </connectionStrings>
  
  <!--Coded Added-->
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <!--Everyone can register-->
  <location path="Register.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <!--Only registered users can see account-->
  <location path="Account">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  
  <!--Only admins can see Admin rights-->
  <location path="Admin">
    <system.web>
      <authorization>
        <deny users="?"/>
        <deny roles="User"/>
        <allow roles="Admins"/>
      </authorization>
    </system.web>
  </location>
  
</configuration>