<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

    <authentication mode="Forms">
      <forms loginUrl="Login.aspx">

      </forms>
    </authentication>

    <authorization>
      <!--<deny users="?"/>-->
      <allow users="*"/>
    </authorization>

    <membership defaultProvider="SqlMembership">
      <providers>
        <add
        name="SqlMembership"

        type="System.Web.Security.SqlMembershipProvider"

        connectionStringName="Boss"

        applicationName="CST465"

        enablePasswordRetrieval="false"

        enablePasswordReset="true"

        requiresQuestionAndAnswer="true"

        requiresUniqueEmail="true"

        passwordFormat="Hashed" />
      </providers>
    </membership>

    <siteMap defaultProvider="SecureSiteMap">
      <providers>
        <add name="SecureSiteMap"
             type="System.Web.XmlSiteMapProvider"
             siteMapFile="~/Web.sitemap"
             securityTrimmingEnabled="true"/>
      </providers>
    </siteMap>

  </system.web>

  <location path="Account">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <connectionStrings>
    <add name="Boss" connectionString="server=otk-dbdev-01;database=ricalday;user id=ricalday;password=7939;"/>
  </connectionStrings>
  <!--Coded Added-->
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <location path="Register.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>